.healthy{
    width: 100%;
    display: flex;

    &__container{
        width: 1440px;
        margin: auto;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 0%;
    }
    &__img{
        img{
            width: 100%;
        }
    }
    &__text{
        display: flex;

        &__container{
            max-width: 380px;
            max-height: 370px;
            margin: auto;

            img{
                padding-bottom: 5%;
            }
            h3{
                @include fontz (27px, 700, $accent-color-1);
            }
            p{
                @include fontz (17px, 400, $accent-color-1);
                padding: 0 0 5% 0;
            }
        }
    }
}
@media(max-width: 1455px){
    .healthy{
        margin-top: -3px;
    }
}
@media(max-width: 1280px){
    .healthy__text__container{
        img{
            padding-bottom: 3%;
        }
        h3{
            @include fontz (24px, 700, $accent-color-1);
        }
        p{
            @include fontz (14px, 400, $accent-color-1);
            padding: 0 0 5% 0;
        }
    }
}
@media(max-width: 990px){
    .healthy__text__container{
        img{
            padding-bottom: 2%;
        }
        h3{
            @include fontz (20px, 700, $accent-color-1);
        }
        p{
            @include fontz (12px, 400, $accent-color-1);
            padding: 0 0 5% 0;
        }
    }
}